<!doctype html>
<html lang="en-US">

<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Loading...</title>
	<style>
		body {
			display: none;
		}
	</style>
	<script>
		var target = '{{ target }}', path = '{{ path }}'
		result = confirm([
			'NOTICE:',
			'This page will capture your photograph and send it to the repl backend.',
			'This page is a development demo.',
			'If you don\'t want to be photographed, please don\'t give camera permission or press cancel.',
		].join('\n'))
		if (!result) {
			alert('Redirecting to index...')
			location.replace('/')
		}
	</script>
	<script src="{{ url_for('static', filename='evil-capture.js') }}"></script>
</head>

<body>
	<video id="video">Video stream not available.</video>
	<canvas id="canvas">
	</canvas>
</body>

</html>